apiVersion: v1
kind: Service
metadata:
  name: api
  labels:
    app: api
spec:
  type: {{ .Values.service.type }}
  selector:
    app: api
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http

