image:
  repository: api
  tag: dev
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

podSecurityContext:
  runAsNonRoot: true

containerSecurityContext:
  runAsNonRoot: true
  runAsUser: 10001
  readOnlyRootFilesystem: false

